<h1>Shopping</h1>

<nav class="navbar navbar-expand navbar-light bg-light  " >
            <a class="navbar-brand ">{{title}}</a>                    
  <ul class="nav nav-pills"  *ngIf="isloggedin()">
      
      <li >
          <a class="nav-link "  routerLinkActive="active " [routerLink]="['/login']"> Home</a>
      </li>
     
      <li >
          <a class="nav-link " [routerLink]="['/categories']" > CategoryList</a>
      </li>
      <li >
          <a class="nav-link " [routerLink]="['/products']" > ProductList</a>
      </li>
      <li>
        <a  class="nav-link " [routerLink]="['/categories/add']">  Add CategoryList</a>
    </li>
    <li >
        <a class="nav-link " [routerLink]="['/products/add']">  Add ProductList</a>
    </li>
    <li >
        <a class="nav-link " [routerLink]="['/login']" (click)="logout()"> Logout</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
