<h1>Add Category</h1>
<form [formGroup]="form"(ngSubmit)="submit()">
    <div class="form-group" hidden>
        <label class ="form-label"for="id">Id</label>
        <input class="form-control " type="number" id="id" formControlName="id">

    </div>
    <div class="form-group">
        <label class="form-label " for="name"> Name</label>
        <input  class="form-control " type="text" id="name" formControlName="name"> 
        <div *ngIf= "form.hasError('required','name')&&(form.controls['name'].touched || form.controls['name'].dirty)" class="alert  alert-danger " role="alert">
        Name is required</div>
    </div>
    <div class="form-group">
        <input class="btn btn-primary"  [disabled]="form.invalid" type="submit" value = "Add Category">
    </div>
</form>